<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<h1>Contact</h1>
	<p>This is the contact page for the
		<a href ="http://railstutorial.org/">Ruby on Rails Tutorial</a>
		sample application.
		You know your own contact info...
	</p>